/.idea/
/bitrix/
/upload/
/local/vendor/
/composer.phar
/.composer
/cgi-bin/
.idea/
.bash*
/ssl/
/index.html
sitemap*.xml
/*.txt
google*.html
/.htaccess
/web.config
/urlrewrite.php
/000/
/about/
/ai/
/apconnect/
/auth/
/*.php
/*.html
/*.log
/favicon.ico
/bizproc/
/calendar/
/company/
/configs/
/crm/
/departments/
/desktop_app/
/docs/
/images/
/include/
/mail/
/marketing/
/marketplace/
/mobile/
/oauth/
/onec/
/pub/
/report/
/saleshub/
/search/
/services/
/shop/
/sites/
/stream/
/tasks/
/telephony/
/timeman/
/workgroups/